.vertical-menu-wrapper::-webkit-scrollbar {
    width: 10px;
  }
  
  .vertical-menu-wrapper::-webkit-scrollbar-track {
    /* box-shadow: 0 0 5px grey;  */
    border-radius: 10px;
    background-color: var(--themeColor);
    /* margin-bottom: 20px; */
  }
   
  /* Handle */
  .vertical-menu-wrapper::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .vertical-menu-wrapper::-webkit-scrollbar-thumb:hover {
    background: #a6a2e0; 
  }
  
  .vertical-menu-wrapper{
      box-shadow: 1px 1px 1px 1px #21202c;
	font-family: var(--font-family);
    /* position: fixed; */
    overflow-y: scroll;
    width: 19vw;
    overflow-x: hidden;
    /* width: 100%;
    max-width: 220px; */
    border:1px solid #3a346b;
    bottom: 0; top: 0;
    display: block;
    min-height: 300px;
    height: 100vh;
    color: #fff;
    /* opacity: 0.8; */
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    background-color:  var(--themeColor);
    /* background-color: rgb(113,90,206); */
    /* background-color: rgba(113,99,186,255); */
    /* background-image:linear-gradient(rgb(163, 7, 195),rgb(71, 71, 245),rgb(163, 7, 195)); */
  }
  .vertical-menu-wrapper .vertical-menu i{
      color:white;
      padding-right:5px;
      padding-left: 10px;
  }
  .vertical-menu-wrapper .vertical-menu li{
      padding-top:24px;
      background-color:#847ad8;
      width:300px;
     
  }
  
  .vertical-menu-wrapper #admin{
    border-radius:100%;
    /* margin-left:60px;
    margin-top:8px;
    margin: 10px 24px 0px; */
    margin: 0 auto;
    width:150px;
    height: 150px;
    /* box-shadow: -5px 2px 48px -9px white */
  }

  .vertical-menu-wrapper #admin i{
    width: 150px;
    font-size: 115px;
    padding: 10px 13px 0;
  }

  .vertical-menu-wrapper .vertical-menu-logo .top{
       font-size:17px;
       color:white;
       font-weight: 800;
       text-transform: uppercase;
       /* font-family: 'Times New Roman', Times, serif; */
  
  }
  .vertical-menu-wrapper .vertical-menu .sub li{
        background-color:#fff;
        color: var(--themeColor);
        padding:8px 20px;
        margin:10px 0px;
        font-weight: 700;
        font-size: 16px;
  }
  .vertical-menu-wrapper .vertical-menu  .main{
        /* background-image: linear-gradient(to top left,rgb(165, 20, 218),rgb(15, 71, 148)); */
        padding:10px 0px;
        margin:10px 0px;
        /* box-shadow: -5px 2px 18px -9px white; */
        background: inherit;
        color:#fff;
        font-size: 17px;
        font-weight: 600;
  }
  
  .vertical-menu-wrapper .vertical-menu .main:hover, .vertical-menu .main:active{
    background-color: #e0e0e058;
  }
  /* .vertical-menu  .main i{
     color:#312872;
  } */
  
  .vertical-menu-wrapper #image{
      width:200px;
      height: 200px;
      border-radius:100%;
      margin: 20px 40px 20px 40px;
  }
  .vertical-menu-wrapper .vertical-menu hr{
    opacity: 0.1; 
    border-width: 0.5px;
  }
  .vertical-menu-wrapper ul{
    width: 90%; 
    padding-inline-start: 0;   
    /* margin: 10px;  */
    /* height: calc(100% - 20px);  */
  }
  .vertical-menu-wrapper .vertical-menu-logo{
    width: inherit;
    text-align: center;
    padding: 0 0 13px;  
    font-size: 1.3em; 
    position: relative
  }
  .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{
    width: 30px; 
    height: max-content; 
    position: absolute; 
    display: block; 
    right: 20px; 
    top: 0; 
    bottom: 0; 
    margin: auto; 
    cursor: pointer;
  }
  .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn hr{
    margin: 5px 0
  }
  .vertical-menu-wrapper li{
    list-style: none; 
    width:111%;
    cursor: pointer;
    border-radius: 5px;
  }
  .vertical-menu-wrapper li#user-info{
    position: absolute;
     bottom: 0; 
    width: 80%;
  }
  .vertical-menu-wrapper li#user-info > span{
    display: block; 
    float: right; 
    font-size: 0.9em; 
    position: relative; 
    opacity: 0.6;
  }
  
  .vertical-menu-wrapper li#user-info > span:after{
    content: '';
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    background: green;
    left: -20px; top: 0; bottom: 0;
    margin: auto;
    border-radius: 50%;
  }
  .vertical-menu-wrapper .vertical-menu .main{
    position: relative;
  }
  
  .vertical-menu-wrapper .main .listTexticon{
    visibility: hidden;
    /* position: absolute; */
  }
  
  .vertical-menu-wrapper .vertical-menu .main:hover .listTexticon{
    visibility: visible;
    position: absolute;
    left: 80%;
  }
  
  
  

  .vertical-menu-wrapper .vertical-menu-logo div{
    transition: all 100ms;
  }
  .closed-menu .vertical-menu-wrapper .vertical-menu-logo div{
    margin-left: -100px;
  }
  .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{
    transition: all 300ms;
  }
  .closed-menu .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{
    left: 7px;
    right: 100%;
  }

  .vertical-menu-wrapper .vertical-menu a{
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
  }
  
  /* .closed-menu .vertical-menu-wrapper ul,.closed-menu .vertical-menu-wrapper hr{
    margin-left: -300px;
  }
  .vertical-menu-wrapper ul, .vertical-menu-wrapper hr{
    transition: all 100ms;
  } */

