.listOfEmp{
    border: 1px solid var(--themeColor);
    border-radius: 12px;
    /* height: 85vh; */
}

.listOfEmp h1{
    font-size: 58px;
    background-color: var(--themeColor);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.listOfEmp .listEmp,.listOfEmp .listEmp ul li{
    display: flex;
}
.listOfEmp .listEmp{
    width: 100%;
    padding-top: 6px;
}

.listOfEmp .listEmp ul{
    list-style-type: none;
    width: 31.5%;
    text-align: center;
    line-height: 1.7;
}

.listOfEmp .listEmp ul li{
    border: 1px solid var(--themeColor);
    margin: 5px 10px 11px;
    height: 50px;
    border-radius: 42px;
}

.listOfEmp .listEmp ul li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 4px 20px 3px 6px;
}

.listOfEmp .listEmp ul li span{
    font-size: 23px;
}

.listOfEmp .listEmp ul li span button{
    font-size: 17px;
    font-family: var(--font-family);
    font-weight: bolder;
    padding: 5px 5px;
    background-color: var(--themeColor);
    color: #fff;
    border: 1px solid var(--themeColor);
    border-radius: 6px;
}
