.content-wrapper #Totalcontainer{
    display: flex;
    justify-content: space-between;
    margin:0px 50px;
}
#secondcontainer{
    display: flex;
    justify-content: space-between;

}
#Totalcontainer input,#secondcontainer input{
    width:200px;
    width: 298px;
    height: 34px;
    border-radius: 8px;
    outline: none;
    border: 1px solid white;
}
#TotalEmployeeForm{
    padding:0px 50px;
}
#dep{
    width: 172px;
    height: 40px;
    border-radius: 8px;
    margin-left: 32px;

}

#dob{
    width: 172px !important;
    margin-left: 27px;
}
#emproll{
    width: 172px;
    height: 34px;
    border-radius: 8px;
    margin-left: 51px;
}
#addbtn{
    width: 180px;
    height: 43px;
    border-radius: 8px;
    outline: none;
    border: 1px solid black;
    background-color: rgb(17, 17, 17);
    color: white;
    font-size: 23px;
    margin-left: 343px;
    margin-top: 30px;
}
#addbtn:hover{
    background-color: black;
    color: white;
}
#imageupload{
    background-color: black;
    margin-left: 47px;
    /* margin-top: 20px; */
    padding: 10px 25px 10px 32px; 
}
#userimage{
    font-size: 68px;
    background-color: black;
    color: white;
    width: 122px;
    height: 122px;
    padding: 24px 31px;
    border-radius: 100%;
    margin-left: 69px;

}
#doj{
    width: 172px !important;
    margin-left: 34px;
    margin-bottom: 10px;
}
#sal, #add{
    width: 194px !important;
    margin-left: 47px;
    height: 34px !important;
}
#exper{
    width: 118px;
    height: 34px;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 28px;
}

#Totalcontainer p{
    color: rgb(221, 207, 16);
}

#TotalEmployeeForm #Totalcontainer img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 52px;
    border: 1px solid #fff;
}