/* :root{
  --themeColor : #491d90;
} */

/* .totalDashBoardDiv {
  margin: 0;  
  font-family:'Cormorant Upright', serif; 
  font-family: 'Open Sans', sans-serif;
} */

/* .adminDashbaord .content-wrapper{
  width: 80.8vw;
  height: 100vh;
  /* position: fixed; 
  position: relative;
  background: #ebebeb;
  left: 19.2vw;
  padding: 20px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  font-weight: 600;
  transition: all 300ms;
}

.adminDashbaord .content-wrapper{
    transition: all 300ms;
} */

/* .adminDashbaord .content{
  width: 100%;
  min-height: 100%;
  font-family:"Poiret One", serif;
  background-image: linear-gradient(-135deg, var(--themecolor), #fff , #fff, #fff);
  border-radius: 10px;
  background-size: 400% 400%;
  animation: back 12s ease infinite;
}
@keyframes back {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
  /* 0%{
    background-image: linear-gradient(to left bottom, #491d90, #fff , #fff,#fff , #fff);
  }
  25%{
    background-image: linear-gradient(to left bottom, #fff , #491d90, #fff , #fff, #fff );
  }
  50%{
    background-image: linear-gradient(to left bottom, #fff , #fff, #491d90, #fff , #fff);
  }
  75%{
    background-image: linear-gradient(to left bottom, #fff , #fff , #fff , #491d90, #fff);
  }
  100%{
    background-image: linear-gradient(to left bottom, #fff , #fff, #fff , #fff, #491d90);
  } */


.adminDashbaord{
  font-family: 'Caudex';
}

.adminDashbaord .admn-dshbrd-wraper{
  width: 80.7vw;
  height: 100vh;
}

.adminDashbaord .content-boxes{
  height: 39.99vw;
  padding: 6px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 22.5% 55% 22.5%;
  grid-template-areas: 'contbox7 contbox8 contbox9 contbox10'
                       'contbox1 contbox1 contbox2 contbox2'
                       'contbox3 contbox4 contbox5 contbox6';
}
.adminDashbaord .content-boxes #contbox1{
  grid-area: contbox1;
}
.adminDashbaord .content-boxes #contbox2{
  grid-area: contbox2;
}
.adminDashbaord .content-boxes #contbox3{
  grid-area: contbox3;
}
.adminDashbaord .content-boxes #contbox4{
  grid-area: contbox4;
}
.adminDashbaord .content-boxes #contbox5{
  grid-area: contbox5;
}
.adminDashbaord .content-boxes #contbox6{
  grid-area: contbox6;
}
.adminDashbaord .content-boxes #contbox7{
  grid-area: contbox7;
  border-bottom: 0px solid #c83863;
  transition: all .1s linear;
}
.adminDashbaord .content-boxes #contbox8{
  grid-area: contbox8;
}
.adminDashbaord .content-boxes #contbox9{
  grid-area: contbox9;
  border-bottom: 0px solid #2fd339;
  transition: all .1s linear;
}
.adminDashbaord .content-boxes #contbox10{
  grid-area: contbox10;
}

.adminDashbaord #contbox7:hover{
  border-bottom: 5px solid #c83863;
}
.adminDashbaord #contbox9:hover{
  border-bottom: 5px solid #2fd339;
}

.adminDashbaord .content-boxes .content-box1{
  display: flex;
  flex-direction: row;
}

.content-boxes .content-box3,.content-boxes .content-box4,
.content-boxes .content-box5,.content-boxes .content-box6{
  text-align: center;
  padding-top: 9px;
}

.adminDashbaord .content-boxes .content-box1 .boxInBox:nth-child(1){
  width: 55%;
}
.adminDashbaord .content-boxes .content-box1 .boxInBox:nth-child(2){
  width: 45%;
  display: grid;
}

.content-boxes #contbox7 h1,.content-boxes #contbox9 h1,
.content-boxes #contbox4 h1,.content-boxes #contbox6 h3 {
  display: inline;
  font-size: 3.5em;
}
.content-boxes #contbox9 h1{
  color: #319337;
}
.content-boxes #contbox7 h1{
  color: #c83863;
}
.content-boxes #contbox9 #faCheck{
  width: 43px;
  position: relative;
  top: 3px;
  right: 4px;

}

.content-boxes #contbox8 .loaderPercent{
  width: inherit;
  display: flex;
  justify-content: center;
}

.content-boxes #contbox5 ul,.content-boxes #contbox10 ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  text-align: start;
}
.content-boxes #contbox10 ul span:nth-child(1) li:nth-child(1) span,
.content-boxes #contbox10 ul span:nth-child(1) li:nth-child(2) span,
.content-boxes #contbox10 ul span:nth-child(2) li:nth-child(1) span,
.content-boxes #contbox10 ul span:nth-child(2) li:nth-child(2) span{
  width: 9px;
  height: 9px;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
}
.content-boxes #contbox10 ul span:nth-child(1) li:nth-child(1) span{
  background-color: rgb(9, 129, 211);
}
.content-boxes #contbox10 ul span:nth-child(1) li:nth-child(2) span{
  background-color: rgb(230, 71, 8);
}
.content-boxes #contbox10 ul span:nth-child(2) li:nth-child(1) span{
  background-color: rgb(199, 5, 134);
}
.content-boxes #contbox10 ul span:nth-child(2) li:nth-child(2) span{
  background-color: rgb(19, 151, 101);
}

.content-boxes p{
  font-size: 18px;
}

.content-boxes .content-box3 .awardsCont{
    position: relative;
}

.content-boxes .content-box3 .awardsCont span{
  position: absolute;
    visibility: hidden;
    top: 20px;
    background: grey;
    color: #fff;
    width: 100px;
    left: -23px;
    right: 0px;
}
.content-boxes .content-box3 .awardsCont:hover span{
  visibility: visible;
}

#contbox4 #heartbeatIcon{
  animation: heartbeat 2s ease infinite;
  width: 39px;
  transform: scale(1);
  color: red;
}

#contbox6 #faCaretUp{
  position: relative;
  padding-right: 14px;
  color: #039f03;
}

.content-boxes #contbox6 h3{
  font-size: 3em;
}

@keyframes heartbeat {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}


.content-boxes .boxInBox span{
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 4px;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
}

.content-boxes .boxInBox div{
  cursor: pointer;
}

.content-boxes .boxInBox div:nth-child(1) span{
  background-color:#eb890a ;
}
.content-boxes .boxInBox div:nth-child(2) span{
  background-color:#ba68c8 ;
}
.content-boxes .boxInBox div:nth-child(3) span{
  background-color: chartreuse ;
}
.content-boxes .boxInBox div:nth-child(4) span{
  background-color:#f9105e ;
}
.content-boxes .boxInBox div:nth-child(5) span{
  background-color:black ;
}
.content-boxes .boxInBox div:nth-child(6) span{
  background-color:#0fdfca ;
}
.content-boxes .boxInBox div:nth-child(7) span{
  background-color:#757575 ;
}
.content-boxes .boxInBox div:nth-child(8) span{
  background-color: var(--themeColor) ;
}
.content-boxes .boxInBox div:nth-child(9) span{
  background-color:#FFEB3B ;
}
.content-boxes .boxInBox div:nth-child(10) span{
  background-color:#0b5cff ;
}
.content-boxes .boxInBox div:nth-child(11) span{
  background-color:#ef0784 ;
}

.content-boxes .content-box-common{
  margin: 13px 11px;
  background: #ebebeb;
  border: 1px solid transparent;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 1px #875cd1;
}


.content-boxes .content-box2{
  text-align: center;
}

.content-box2 .percent{
  width: 50%;
  position: relative;
  transform: rotate(270deg);
  top: 104px;
  right: 102px;
}

.content-boxes .deactive{
  display: none;
}

.content-boxes .active{
  z-index: 100;
  position: fixed;   
  display: block;
  width: 77%;
  height: 92vh;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 5px;
}

.content-boxes .active .contentActive{
  background: #fff;
  margin: 30px auto;
  width: 800px;
  height: 90%;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
  animation-name: slidedown;
  animation-duration: .3s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes slidedown {
  0%,10%, 90%,100%{
      animation-timing-function: ease-in-out;
  }
  0%{
      opacity: 0;
      transform: translate3d(0,-70%,0);
  }
  100%{
      transform: translate3d(0,0,0);
  }
}

.active .contentActive #closeActive{
  font-size: 50px;
  float: right;
  padding: 0 13px;
  position: relative;
  bottom: 13px;
  color: #fff;
  cursor: pointer;
}

.active .contentActive h1{
  font-size: 45px;
  color: #fff;
  background-color: var(--themeColor);
  padding: 20px 0;
  text-align: center;
}

.active .contentActive div p{
    font-weight: bolder;
    font-size: 19px;
    margin: 0 auto;
    width: 500px;
    line-height: 1.5;
}

.active .contentActive div p span{
  display: inline-block;
  width: 145px;
}