#addprojectcontainer{
  font-size: 20px;;
  /* color:#14032d; */
  /* font-family: 'Times New Roman', Times, serif; */
    background-image:linear-gradient(to left,rgb(135, 11, 148),#461298);
    color:white;
    width: 68.6vw;
    margin: 30px auto;
    border-radius: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 9px rgb(210, 206, 206);
}
#addprojectcontainer form textarea:focus,#addprojectcontainer form select:focus{
  border-color: #491d90;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(192, 185, 185, 0.075), 0 0 8px rgba(229, 225, 234, 0.6);
}
#addprojectcontainer form input:focus{
    border-color: #491d90;
    outline: 0;
     box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba( 73,29,144,.6);
}
#addprojectcontainer h1{
  padding-top:20px;
  width:200px;
  font-size: 35px;
    color:white;
    font-weight: 900;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;;
}
#addprojectcontainer form input{
  width: 600px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgb(96, 95, 95);
  padding-left: 9px;
}

#addprojectcontainer form teXtarea{
  width: 600px;
  /* height: 38px; */
  border-radius: 10px;
  border: 1px solid rgb(96, 95, 95);
  padding-left: 9px;
}
#addprojectcontainer form .check{
  width: 33px;
  height: 17px;
  margin-top: 13px;
}
#addprojectcontainer form .checkbox{
  display: inline-flex;
  flex-wrap: wrap;
  width:190px;
}
#addprojectcontainer form  .checkvalue{
  margin-top:12px;
} 
/* #addprojectcontainer form p{

} */
#addprojectcontainer form{
   width:600px;
   margin-left: auto;
   margin-right: auto;
}
#addprojectcontainer form #date{
   display: flex;
   justify-content: space-between;

}
#addprojectcontainer form #date input{
  width: 180px;
  margin-left:20px;
}
.content{
    width: 100%;
    /* min-height: 100%; */
    background: #fff;
    border-radius: 10px;
    padding: 30px;
  }
  .scroll{
    width:600px;
    height:170px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #FFF;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
  }
  .scroll::-webkit-scrollbar{
    width: 4px;
    position: relative;
    right: 10px;
  }
  .scroll::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
  }
  
 .select{
  /* margin: 0px 5px 0px 30px; */
  width: 180px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgb(96, 95, 95);
  padding-left: 9px;
  margin-left: 26px;
 }

#addprojectcontainer .errdisplay{
  color: rgb(221, 207, 16);
}
 

#addprojectcontainer form input, 
#addprojectcontainer form textarea,
#addprojectcontainer form select,
#addprojectcontainer form input[type="date"]{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

#addprojectcontainer form input::placeholder, 
#addprojectcontainer form textarea::placeholder,
#addprojectcontainer form select,
#addprojectcontainer form input[type="date"]{
  font-size: 17px;
  font-family: var(--font-family);
  font-weight: bold;
  color: #000;
}

#addprojectcontainer form input:focus, 
#addprojectcontainer form textarea:focus,
#addprojectcontainer form select:focus,
#addprojectcontainer form input[type="date"]:focus{
    box-shadow: 0px 0px 7px 3px #fff;
    outline: none;
} 


#addprojectcontainer form button{
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color:  var(--themeColor);
    font: 800 20px var(--font-family);
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    min-width: 215px;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#addprojectcontainer .soft-tech-emp{
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  width: 100%;
  display: inline-block;
}