
.adminViewProj .table-wrapper{
  width: 100%;
    display: flex;
    justify-content: center;
}
.adminViewProj  .row #projecttable{

  /* background-color: #FFF; */
  width: 830px;
  margin-left: 60px;
  height: 243px;
 }
 :root {
  --white: #fff;
  --darkblue:#491d90 ;
  --lightblue: #491d90;
}

.adminViewProj h1 {
  font-size: 1.5em;
}




.adminViewProj .table-wrapper::-webkit-scrollbar-thumb {
  background: var(--darkblue);
  border-radius: 40px;
}

.adminViewProj .table-wrapper::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 40px;
}

.adminViewProj .table-wrapper table {
  margin: 50px 0 20px;
    border-collapse: collapse;
    text-align: center;
    width: 939px;
    height:200px;
}

.adminViewProj .table-wrapper table th,
.adminViewProj .table-wrapper table td {
  padding: 10px;
  min-width: 75px;
}

.adminViewProj .table-wrapper tr button{
  width: 104px;
  height: 27px;
  background-color: #461298;
  color: white;
  border: noen;
  border: none;
  border-radius: 7px;
  box-shadow: 0px 0px 3px 0px blue;
   
}
.adminViewProj .table-wrapper table th {
  color: white;
  background-color: #491d90;
  /* border-radius: 20px; */
}

.adminViewProj .table-wrapper table tbody tr:nth-of-type(even) > * {
  background-color: var(--white);
border-bottom: 1px solid #cbcacc;
border-top: 1px solid #cbcacc;
height: 70px;
/* box-shadow: 0px 0px px 0px rgb(208, 205, 205); */
  /* border-radius: 2px; */
}
.adminViewProj .table-wrapper table tbody tr:nth-of-type(odd) > * {
  height: 70px;
}

.adminViewProj .titleClass h1{
  padding: 10px 0px 20px;
  width: 500px;
  font-size: 47px;
  color: white;
  font-weight: 900;
  margin-left: auto;
  margin-right: auto;
}
.adminViewProj .titleClass h2{
  padding-bottom: 21px;
  text-align: center;
  color: #fff;
}
.adminViewProj .titleClass{
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  background-color: var(--themeColor);
  border-radius: 15px;
}