#updateProjectContainer{
  text-align: center;
  font-size: 20px;;
    background-image:linear-gradient(to left,rgb(135, 11, 148),#461298);
    color:white;
    width: 62.6vw;
    margin: 30px auto;
    border-radius: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 9px rgb(210, 206, 206)
}
#updateProjectContainer form input:focus{
border-color: #491d90;
outline: 0;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba( 73,29,144,.6);
}
#updateProjectContainer .titleClass h1{
padding: 10px 0px;
width: 300px;
font-size: 47px;
color: white;
font-weight: 900;
margin-left: auto;
margin-right: auto;
}
#updateProjectContainer .titleClass h4{
padding-bottom: 21px;
}
#updateProjectContainer .titleClass{
border-bottom: 1px solid #fff;
margin-bottom: 20px;
}

#updateProjectContainer form input{
  width: 600px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgb(96, 95, 95);
  padding-left: 9px;
}

#updateProjectContainer form teXtarea{
  width: 600px;
  /* height: 38px; */
  border-radius: 10px;
  border: 1px solid rgb(96, 95, 95);
  padding-left: 9px;
}
#updateProjectContainer form .check{
  width: 33px;
  height: 17px;
  margin-top: 13px;
}
#updateProjectContainer form .checkbox{
  display: inline-flex;
  flex-wrap: wrap;
  width:190px;
}
#updateProjectContainer form  .checkvalue{
  margin-top:12px;
} 
/* #addprojectcontainer form p{

} */
#updateProjectContainer form{
   width:600px;
   margin-left: auto;
   margin-right: auto;
}
#updateProjectContainer form #date{
   display: flex;
   justify-content: space-between;
}
#updateProjectContainer form #date input{
  width: 180px;
  margin-left:20px;
}
.content{
    width: 100%;
    /* min-height: 100%; */
    background: #fff;
    border-radius: 10px;
    padding: 30px;
  }
  .scroll{
    width:600px;
    height:170px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #FFF;
    padding: 10px 0px 10px 10px;
    border-radius: 5px;
    margin: 7px 0px 0px;
    text-align: left;
  }
  .scroll::-webkit-scrollbar{
    width: 4px;
    position: relative;
    right: 10px;
  }
  .scroll::-webkit-scrollbar-track{
    background-color: #fff;
    border-radius: 10px;
  }
  
 .select{
  /* margin: 0px 5px 0px 30px; */
  width: 180px;
  height: 38px;
  border-radius: 10px;
  border: 1px solid rgb(96, 95, 95);
  padding-left: 9px;
  margin-left: 26px;
 }

/* #addprojectcontainer form textarea::placeholder{
  position: relative;
  top: 15px;
} */

/* #addprojectcontainer form textarea{
  position: relative;
  top: 15px;
} */

#updateProjectContainer form input, 
#updateProjectContainer form textarea,
#updateProjectContainer form select,
#updateProjectContainer form input[type="date"]{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

#updateProjectContainer form input::placeholder, 
#updateProjectContainer form textarea::placeholder,
#updateProjectContainer form select,
#updateProjectContainer form input[type="date"]{
  font-size: 17px;
  font-family: var(--font-family);
  font-weight: bold;
  color: #000;
}

#updateProjectContainer form input:focus, 
#updateProjectContainer form textarea:focus,
#updateProjectContainer form select:focus,
#updateProjectContainer form input[type="date"]:focus{
    box-shadow: 0px 0px 7px 3px #fff;
    outline: none;
} 


#updateProjectContainer form button{
    background-color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color:  var(--themeColor);
    font: 800 20px var(--font-family);
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    min-width: 215px;
    text-align: center;
}

#updateProjectContainer .soft-tech-emp{
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  width: 100%;
  display: inline-block;
}